<p>The below are the details about the Milestone of project that going to be close in next three days.</p>
<ul>
  <li>Project - <%= @project.name %></li>
  <li>Milestone - <%= @milestone.name %></li>
  <li>Close On - <%= @milestone.effective_date.strftime("%d/%m/%Y") %></li>
</ul>
